@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
--color-primary:              oklch(0.556 0.1706 146.52);   /*#2E7D32*/
--color-primary-light:        oklch(0.799 0.0818 142.67);   /*#A5D6A7*/
--color-primary-dark:         oklch(0.443 0.1542 147.57);   /*#1B5E20*/
--color-background:           oklch(0.9669 0.0159 101.17);  /*#F5F7F8*/
--color-surface:              oklch(1.000 0     0);         /*#FFFFFF*/
--color-text-primary:         oklch(0.293 0.0046 260.61);   /*#1E1E1E*/
--color-text-secondary:       oklch(0.430 0.0325 263.56);   /*#4B5563*/
--color-background-dark:      oklch(0.2327 0.0154 259.98);  /*#121212*/
--color-surface-dark:         oklch(0.293 0.0046 260.61);   /*#1E1E1E*/
--color-text-primary-dark:    oklch(0.899 0.0077 235.75);   /*#E5E7EB*/
--color-text-secondary-dark:  oklch(0.677 0.0197 251.67);   /*#9CA3AF*/
--color-accent:               oklch(0.866 0.1629 97.00);    /*#FFC107*/
--color-accent-light:         oklch(0.930 0.0811 97.49);    /*#FFECB3*/
--color-accent-dark:          oklch(0.780 0.2001 87.48);    /*#FFA000*/
--font-poppins:               Poppins, "sans-serif";
}

html {
  scroll-behavior: smooth;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}